In [1]:
import requests
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
token="–∑–¥–µ—Å—å –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å —Ç–æ–∫–µ–Ω"

In [3]:
group_name="vedomosti"
offset=0
count=100
all_posts=[]
all_comments=[]

In [4]:
offset=0
while offset<2100:
        req=requests.get('https://api.vk.com/method/wall.search',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'domain': group_name,
                   'query': '–∏–Ω—Ñ–ª—è—Ü–∏—è',
                   'count': count,
                   'offset': offset
                   
               })
        res=req.json()['response']['items']
        offset+=100
        time.sleep(1)
        all_posts.extend(res)

In [5]:
res=req.json()['response']['items']
all_posts.extend(res)
df = pd.json_normalize(all_posts)

In [6]:
df=df[["id", "owner_id", "date", "text", "comments.count"]]
df.rename(columns={'date': 'post_time','text':'post_text'}, inplace=True)
df=df[df['post_time']>=1630454400]
df=df[df['comments.count']!=0]
df

,id,owner_id,post_time,post_text,comments.count
0,1756398,-15548215,1674489612,–ú–∏–Ω—é—Å—Ç –ø—Ä–µ–¥–ª–∞–≥–∞–µ—Ç –Ω–æ–≤—ã–µ —É—Å–ª–æ–≤–∏—è —Å–æ–¥–µ—Ä–∂–∞–Ω–∏—è –∑–∞–∫...,17
2,1754848,-15548215,1674455001,—Ç–∞–∫ –∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–ª–∏ –º–µ–Ω—å—à–µ –∏–Ω—Ñ–ª—è—Ü–∏–∏ –≤–æ—Ç –∏ –Ω–µ –∑–∞—â...,1
4,1754848,-15548215,1674433201,–†–µ–≥—É–ª—è—Ä–Ω–∞—è –∏–Ω–¥–µ–∫—Å–∞—Ü–∏—è –º–∏–Ω–∏–º–∞–ª—å–Ω—ã—Ö –∑–∞—Ä–∞–±–æ—Ç–Ω—ã—Ö –ø...,17
9,1746014,-15548215,1674079200,"JPMorgan, Bank of America, Citigroup –∏ –¥—Ä—É–≥–∏–µ ...",12
12,1745087,-15548215,1674051018,–ê –ø–æ—á–µ–º—É –±—ã –∏–Ω—Ñ–ª—è—Ü–∏—é –Ω–µ –æ—Ç–º–µ–Ω–∏—Ç—å –æ—á–µ—Ä–µ–¥–Ω—ã–º —É–∫–∞...,10
...,...,...,...,...,...
939,1319778,-15548215,1631149207,–≠–∫–æ–Ω–æ–º–∏—á–µ—Å–∫–∏–µ –≤–ª–∞—Å—Ç–∏ –ø—Ä–µ–¥–ª–æ–∂–∏–ª–∏ —Å—Ç—Ä–∞—Ç–µ–≥–∏—é –∑–∞—â–∏...,5
941,1319678,-15548215,1631122219,¬´–ù–µ–ª—å–∑—è –ø–æ—Å—Ç–æ—è–Ω–Ω–æ –ø–µ—á–∞—Ç–∞—Ç—å –¥–µ–Ω—å–≥–∏ –∏ –Ω–µ –ø–ª–∞—Ç–∏—Ç—å...,19
944,1318306,-15548215,1630662129,–¢–æ –µ—Å—Ç—å —Å–≤–æ—é –∏–Ω—Ñ–ª—è—Ü–∏—é –æ–Ω–∏ –Ω–µ –≤–∏–¥—è—Ç?!!!!,3
945,1318148,-15548215,1630607413,–¶–µ–Ω—Ç—Ä–∞–ª—å–Ω—ã–π –±–∞–Ω–∫ –≤–∫–ª—é—á–∏–ª –≤ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–µ —Å—Ü–µ–Ω...,7
947,1318012,-15548215,1630576166,–°–µ–π—á–∞—Å –±–ª–∞–≥–æ–¥–∞—Ä–Ω—ã–µ –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä—ã –ø—Ä–æ–≥–æ–ª–æ—Å—É—é—Ç –∑–∞ –ï...,6

In [7]:
owner_id=-15548215
posts_id=list(df['id'])

In [8]:
for post_id in posts_id:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)

In [9]:
data = pd.json_normalize(all_comments)
data

,id,from_id,date,text,post_id,owner_id,parents_stack,thread.count,thread.items,thread.can_post,thread.show_reply_button,thread.groups_can_post,attachments,deleted
0,1756406,21333770,1674489846,"–£ –Ω–∞—Å –≤ —Ç—é—Ä—å–º–∞—Ö –ø—Ä–µ—Å—Ç—É–ø–Ω–∏–∫–æ–≤ —Ç–æ –Ω–µ –æ—Å—Ç–∞–ª–æ—Å—å, –æ...",1756398.0,-15548215.0,[],1,[],True,True,True,NaN,NaN
1,1756412,20291756,1674489923,–ü—Ä–∏–≥–æ–∂–∏–Ω –∏ –ü—É—Ç–∏–Ω —Å—Ä–æ—á–Ω–æ —Ä–∞–∑–≥—Ä—É–∂–∞—é—Ç –∑–æ–Ω—ã –æ—Ç –∑—ç–∫...,1756398.0,-15548215.0,[],5,[],True,True,True,NaN,NaN
2,1756437,694295529,1674490691,–í–æ—Ç –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –≤–∏–¥–Ω–∞ –∑–∞–±–æ—Ç–∞ –≥–æ—Å—É–¥–∞—Ä—Å—Ç–≤–∞ –æ —Ä...,1756398.0,-15548215.0,[],0,[],True,True,True,NaN,NaN
3,1756802,624037853,1674499271,–°–æ–∑—ã–≤–∞—é—Ç —á—Ç–æ –ª–∏ –∫ –ª—É—á—à–µ–π –∂–∏–∑–Ω–∏üòÖ —Ä–µ–∫–ª–∞–º–∞ —Å–∫–æ—Ä–æ ...,1756398.0,-15548215.0,[],0,[],True,True,True,NaN,NaN
4,1756811,2773473,1674499440,"–ê –≤ –±–æ–ª—å–Ω–∏—Ü–∞—Ö –æ–Ω–∏ –Ω–µ —Ö–æ—Ç—è—Ç —É–ª—É—á—à–∏—Ç—å –ø–∏—Ç–∞–Ω–∏–µ, —á...",1756398.0,-15548215.0,[],4,[],True,True,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2594,1318042,112809857,1630582044,–°–∫–æ—Ä–µ–µ —ç—Ç–∏–º–∏ –¥–µ–Ω—å–≥–∞–º–∏ –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä—ã –∏ –ø–æ–π–¥—É—Ç –≥–æ–ª–æ...,1318012.0,-15548215.0,[],0,[],True,True,True,NaN,NaN
2595,1318050,481138434,1630583453,–õ–∏–±–µ—Ä–∞—Å—Ç–∏–∫–∏ –∏ –∫–æ–º—É–Ω—è–∫–∏ –≤–µ—á–Ω–æ —Å—Ç—Ä–∞–¥–∞—é—â–∏–µ –∑–∞ –±–µ–¥...,1318012.0,-15548215.0,[],0,[],True,True,True,NaN,NaN
2596,1318059,487401888,1630585691,–ù–µ –≥–æ–ª–æ—Å—É—é –ª–µ—Ç 30üëç,1318012.0,-15548215.0,[],0,[],True,True,True,NaN,NaN
2597,1318061,113269503,1630585854,–ù–µ –ø–æ–º–æ–≥–∞–µ—Ç –ü—Ä–∞–≤–∏—Ç–µ–ª—å—Å—Ç–≤–æ - –ø–ª–æ—Ö–æ. –ü–æ–º–æ–≥–∞–µ—Ç - ...,1318012.0,-15548215.0,[],0,[],True,True,True,NaN,NaN
2598,1318066,345652401,1630586138,"–î–∞ –≤–∞–º —á—Ç–æ –Ω–∏ —Å–¥–µ–ª–∞–π, –≤—Å–µ —Å–º–µ—à–∞–µ—Ç–µ —Å –¥–µ—Ä—å–º–æ–º. ...",1318012.0,-15548215.0,[],0,[],True,True,True,NaN,NaN

In [10]:
data=data[["post_id", "text", "date"]]
data.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data=data.dropna()

In [11]:
data['post_id'] = data['post_id'].astype(int)
data

      post_id                                               text  comment_time
0     1756398  –£ –Ω–∞—Å –≤ —Ç—é—Ä—å–º–∞—Ö –ø—Ä–µ—Å—Ç—É–ø–Ω–∏–∫–æ–≤ —Ç–æ –Ω–µ –æ—Å—Ç–∞–ª–æ—Å—å, –æ...    1674489846
1     1756398  –ü—Ä–∏–≥–æ–∂–∏–Ω –∏ –ü—É—Ç–∏–Ω —Å—Ä–æ—á–Ω–æ —Ä–∞–∑–≥—Ä—É–∂–∞—é—Ç –∑–æ–Ω—ã –æ—Ç –∑—ç–∫...    1674489923
2     1756398  –í–æ—Ç –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –≤–∏–¥–Ω–∞ –∑–∞–±–æ—Ç–∞ –≥–æ—Å—É–¥–∞—Ä—Å—Ç–≤–∞ –æ —Ä...    1674490691
3     1756398  –°–æ–∑—ã–≤–∞—é—Ç —á—Ç–æ –ª–∏ –∫ –ª—É—á—à–µ–π –∂–∏–∑–Ω–∏üòÖ —Ä–µ–∫–ª–∞–º–∞ —Å–∫–æ—Ä–æ ...    1674499271
4     1756398  –ê –≤ –±–æ–ª—å–Ω–∏—Ü–∞—Ö –æ–Ω–∏ –Ω–µ —Ö–æ—Ç—è—Ç —É–ª—É—á—à–∏—Ç—å –ø–∏—Ç–∞–Ω–∏–µ, —á...    1674499440
...       ...                                                ...           ...
2594  1318012  –°–∫–æ—Ä–µ–µ —ç—Ç–∏–º–∏ –¥–µ–Ω—å–≥–∞–º–∏ –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä—ã –∏ –ø–æ–π–¥—É—Ç –≥–æ–ª–æ...    1630582044
2595  1318012  –õ–∏–±–µ—Ä–∞—Å—Ç–∏–∫–∏ –∏ –∫–æ–º—É–Ω—è–∫–∏ –≤–µ—á–Ω–æ —Å—Ç—Ä–∞–¥–∞—é—â–∏–µ –∑–∞ –±–µ–¥...    1630583453
2596  1318012                                 –ù–µ –≥–æ–ª–æ—Å—É—é –ª–µ—Ç 30üëç    1630585691
2597  1318012  –ù–µ –ø–æ–º–æ–≥–∞–µ—Ç –ü—Ä–∞–≤–∏—Ç–µ–ª—å—Å—Ç–≤–æ - –ø–ª–æ—Ö–æ. –ü–æ–º–æ–≥–∞–µ—Ç - ...    1630585854
2598  1318012  –î–∞ –≤–∞–º —á—Ç–æ –Ω–∏ —Å–¥–µ–ª–∞–π, –≤—Å–µ —Å–º–µ—à–∞–µ—Ç–µ —Å –¥–µ—Ä—å–º–æ–º. ...    1630586138

[2402 rows x 3 columns]

In [12]:
df.to_csv('vedomosti_posts.csv', index=False)

In [13]:
data.to_csv('vedomosti_comments.csv', index=False)